@import '../../../style/variables.scss';

.wallet_block1 {
    width: 100%;
    margin: 0;
    padding: 20px;
    position: relative;
    background: #D9DCDE;

    .close-icon {
        top: 10px;
        right: 10px;        
    }
}

p {
    font-size: 20px;
    font-weight: 400;
    color: #454444;
    margin: 0;
    margin-bottom: 20px;

    @media screen and (max-width:767px) {        
        font-size: 17px;              
    }
}

p.member{
    margin-top: 0px;
}

.mint_profile{
    background: $success;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    color: $white !important;
    border-radius: 6px;    
    border: none;
    width: 100%;
    
    @media screen and (max-width:1199px) {
        font-size: 17px;
    }

    @media screen and (max-width:767px) {
        font-size: 16px;        
    }
}

label{
    font-size: 15px;
    font-weight: 400 !important;
    color: #716D6D;
    margin-bottom: 5px;
}

.form-control{
    background: $white;
    border-radius: 0;
    height: 80px;
    border: none;
    padding: 10px;
}

.custom-file{
    margin-bottom:16px;
}

.custom-file-input:lang(en)~.custom-file-label::after{
    content: "UPLOAD";
}

.custom-file-label{    
    background: transparent;
    border: none;
}

.custom-file-label::after{
    left: 0;
    right: auto;
    background: $skyblue;
    color: $white;
    padding: 5px 10px;
    border-radius: 6px;
}

.image_block{
    width: 100%;
    margin-top: 20px;
    padding: 0;
}

.image_cap{
    width: 100%;
    min-height: 150px;
    background: $gray;
    margin-bottom: 0;
    border: 1px solid $white;
}

.v_block{
    padding-bottom: 4px !important;
    margin-bottom: 15px;
}

ul{
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: left;
    padding-left: 0 !important;
}
ul li{
    width: 18.2%;
    margin: 3px;
    float: left;
    text-align: center;
    background: #4E5058;
    color: $white;
    padding: 7px 5px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
}

ul li.blue{
    background: #5865F2;
}

.wait_block{
    width: 100%;
    margin: 0;
    padding: 0;
}

.wait_image{
    display: flex;
    margin-top: -20px;

    img{
        margin: 0 auto;
    }
}

.col-6.images{
    margin: 0px !important;
    padding: 0px !important;
}


p.member{
    background:none !important;
    color: #454444 !important;
    -webkit-text-fill-color: #454444;
}

p.para{
    background:none !important;
    color: #454444 !important;
    -webkit-text-fill-color: #454444;
}

.modal{
    margin: 0 !important;
    padding: 0 !important;
}

.wallet_block{
    padding-top: 0 10px !important;
    
}

ul{
    margin-bottom: 0 !important;
}


// .modal-content {
//     width: 440px !important;
// }

@media screen and (max-width:470px) {
    ul li{
        width: 17.5%;
    }
}

@media screen and (max-width:600px){
    .member_profile{
        font-size: 16px;
    }
}