$white: #fff;
$black: #000;
$red: #ff0000;
$yellow: #f2ee1b;
$success: #7ed957;
$danger: #dc3545;
$warning: #ffc107;
$skyblue: #38b6ff;
$purple: #800080;
$darkpurple:#5b1f9e;
$lightpurple:#f467ec;
$bg1purple:#B249CD;
$bg2purple:#8501A8;
$green: #6CC745;
$f1f1f1: #f1f1f1;
$lightgray: #d3d3d3;
$dorange: #FE8C01;
$dred: #FF0000;
$dyellow: #F6F309;
$dgreen: #00FE01;
$dsky: #01CEFE;
$dpurple: #C852FF;
$dpink: #F467EC;
$lightpurple_1: #CB6CE6;
$danger: #FF1616;
$pink: #DF00A9;
$gray: #747474;
$lightgray1: #F5F5F5;
$lineargradient: linear-gradient(178.34deg, #8501A8 -27.26%, #38B6FF 98.59%);
$linearDisableGradient: linear-gradient(178.34deg, #747474 -27.26%, #d3d3d3 98.59%);

$bg-color: #212123;

$color404: rgba(255, 255, 255, 0.7);

// FONT FAMILY
$monospace: monospace;