@import "../../../style/variables.scss";

.wallet_block {
  margin: 0;
  padding: 10px;
  position: relative;

  .close-icon {
    float: right;

    .exit {
      font-size: 22px;
    }
  }
}

// .modal-content {
//   width: 635px !important;
// }

.modal-content {
  background-color: white;
}

h4 {
  font-size: 20px;
  font-weight: 800;
  color: $gray;
  text-align: center;
  margin-bottom: 5px;

  @media screen and (max-width: 991px) {
    font-size: 18px;
  }

  @media screen and (max-width: 767px) {
    font-size: 16px;
  }
}

h4.red {
  color: $red;
}

p {
  font-size: 16px;
  font-weight: 400;
  color: $gray;
  margin: 0;
  margin-bottom: 10px;

  @media screen and (max-width: 767px) {
    font-size: 15px;
  }
}

.wallet_detail {
  width: 100%;
  margin: 0;
  padding: 0;
}

.get_wallet {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: $white;
  background: linear-gradient(0deg, rgba(56, 182, 255, 1) 4%, rgba(133, 1, 168, 1) 100%);
  border: none;
  border-radius: 6px;
  padding: 15px 10px;
  margin-bottom: 10px;

  @media screen and (max-width: 767px) {
    font-size: 18px;
  }
}

h5 {
  font-size: 17px;
  font-weight: 800;
  color: $gray;
  margin-bottom: 7px;

  @media screen and (max-width: 767px) {
    font-size: 16px;
  }
}

.connect_wallet {
  width: 100%;
  margin: 0;
  padding: 0;
}

.connect_wallet h5 {
  font-size: 18px;
  text-align: center;
}

.wallet_box {
  width: 100%;
  padding: 10px 20px;
  background: $lightgray1;
  border-radius: 6px;
  margin-bottom: 10px;
  text-align: center;
  cursor: pointer;

  figure {
    margin-bottom: 0;
  }

  img {
    max-height: 50px;
  }

  p {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0;
  }

  &:hover {
    border: 1px solid $skyblue;
  }

  .iekbcc0 {
    display: none;
  }
}

span.anticon.anticon-close-circle {
  font-size: 22px;
  position: absolute;
  right: 5px;
  top: 5px;
}

.modal-body {
  text-align: left;

  h4 {
    text-align: left;
  }
}

.home-buy-modal .modal-content {
  width: 635px !important;
}

.home-buy-modal .modal-body {
  height: 560px !important;
}

.home-buy-modal p {
  font-size: 16px;
}

.col-md-3.col-12.offset-md-1.wallet-option {
  margin-left: 3.33% !important;
  width: 30% !important;
}

@media only screen and (max-width: 767px) {

  .home-buy-modal .modal-content {
    width: 340px !important;
  }

  .home-buy-modal .modal-body {
    height: 556px !important;
    overflow-y: auto;

    .col-md-3.col-12.offset-md-1.wallet-option {
      margin-left: 3.33% !important;
      width: 100% !important;
    }
  }


  .home-buy-modal .modal-content {
    text-align: center;
    top: 90px;
    left: 0;
    right: 0;
  }

  .wallet_block .close-icon {
    position: absolute;
    top: 0;
    right: 0;
  }

  .wallet_block h4 {
    font-size: 16px;
  }

  .row.cnnct-wlt {
    flex-direction: column-reverse;
  }
}

.connect_btn {
  display: none !important;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .modal-dialog {
    margin-left: 80px !important;
  }
}

.wallet-container .buy-container .amount-input .input-group-prepend.next .input-group-text {
  border-right: 4px solid !important;
}



/* for iphone SE*/
@media only screen and (device-width : 375px) and (device-height : 667px) and (-webkit-device-pixel-ratio : 2) {
  .home-buy-modal .modal-content {
    width: 340px !important;
    left: 2%;
  }
}

/* for iphone XR */
@media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) {
  .home-buy-modal .modal-content {
    width: 356px !important;
    left: 5%;
  }
}

/* for iphone 12pro */
@media only screen and (device-width : 390px) and (device-height : 844px) and (-webkit-device-pixel-ratio : 3) {
  .home-buy-modal .modal-content {
    width: 356px !important;
    left: 3%;
  }
}

/* for pixel 5 */
@media only screen and (device-width : 393px) and (device-height : 851px) and (-webkit-device-pixel-ratio : 2.75) {
  .home-buy-modal .modal-content {
    width: 356px !important;
    left: 3%;
  }
}

/* for samsung s8+  */
@media only screen and (device-width : 360px) and (device-height : 740px) and (-webkit-device-pixel-ratio : 4) {
  .home-buy-modal .modal-content {
    width: 345px !important;
    left: 0%;
  }
}

/* for s20 ultra */
@media only screen and (device-width : 412px) and (device-height : 915px) and (-webkit-device-pixel-ratio : 3.5) {
  .home-buy-modal .modal-content {
    width: 345px !important;
    left: 6%;
  }
}