.form-container{
    padding: 0px;
}

.category-form{
    width: 450px; 
}

@media only screen and (max-width: 767px){
    .add-category.MuiBox-root.css-g6gp40{
        width: 350px !important;
    }

    .inner-form{
        padding: 10px !important;
    }

    .form-container{
        width: 330px !important;
        padding: 10px;
    }
}