.input {
  width: "100%" !important;
}


// .img-container{
//   display: flex;
//   height: 160px;
//   width: 90vw;

//   @media only screen and (max-width: 767px){
//     display: flex;
//     flex-wrap: wrap;
//     width: 100% !important;
//   }
// }


.imgg {
  margin-left: 40px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  justify-items: center;
  padding-left: 21px;
}

.secinp {
  margin-left: 10px;
  margin-bottom: 10px;
}

// .img-inputs{
//   width: 600px;

//   @media only screen and (max-width: 767px){
//     width: 100%;
//   }
// }
